<template>

    <layout2 style="background-image: url('https://image.freepik.com/vector-gratis/perro-pata-patrones-fisuras-vector-aislado-cachorro-fondo-pantalla_71328-14.jpg')">
        <div>

            <el-card style="text-align: center; width: 70%; margin-left: 15%">
                <h1 style=" text-align: center; "><strong>Perros Disponibles</strong></h1>

                <el-divider></el-divider>
                <div class="grid-container">
                    <div class="grid-item"  v-for="(d, index) in dogs" :key="index">
                        <dog-component :dog="d"></dog-component>
                    </div>
                </div>
            </el-card>



        </div>
    </layout2>


</template>
<script>

    import DogComponent from "../../components/DogComponent";
    import Layout2 from "../../Shared/Layout2";

    export default {
        components:{
            Layout2,
            DogComponent
        },
        data(){
          return {
              dogs: [],
          }
        },
        mounted() {
            if (this.$page.dogs) {
                this.dogs = this.$page.dogs;
            }
        }
    }

</script>
