<template>

    <layout2 style="background-image: url('https://image.freepik.com/vector-gratis/perro-pata-patrones-fisuras-vector-aislado-cachorro-fondo-pantalla_71328-14.jpg')">

        <div>

            <el-card style="text-align: center; margin-top: 50px; background-color: #e6e9ed">
                <h1><strong>¡Contáctanos!</strong></h1>

                <el-divider></el-divider>

                <div>
                    <p>Si deseas adoptar alguno de nuestros perritos y gatitos puedes contactarnos y reservar tu cita por medio de nuestro whatsapp: </p>

                    <i class="el-icon-phone">   +506 62241099</i>


                    <p>También puedes visitar nuestras instalaciones y conocer más de cerca todos los gatitos y perritos que están buscando un hogar.</p>

                    <p> Estamos ubicados <i class="el-icon-place"> 600 noroeste de la sucarsal del INS</i></p>
                </div>


            </el-card>

            <div class="demo-image__placeholder">
                <div class="block">
                    <span class="demonstration"></span>
                    <el-image :src="src"></el-image>
                </div>

            </div>



        </div>

    </layout2>


</template>
<script>
    import Layout2 from "../../Shared/Layout2";
    export default {
        components: {Layout2},
        data(){
            return{
                src: 'https://www.mascotahogar.com/Imagenes/fondo-divertido-de-perros.jpg',

            }
        },
        methods: {

        },
    }
</script>
