<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Nuevo Perrito</h1>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-card>
                <el-form :model="form" ref="form" :rules="rules">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Nombre del perro" prop="name">
                                <el-input placeholder="Nombre del perro" v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Edad del perro" prop="age">
                                <el-input placeholder="Edad del perro" v-model="form.age"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Descripcion" prop="description">
                                <el-input placeholder="Descripcion" v-model="form.description"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row :gutter="20">
                        <el-col :span="6">
                            <el-form-item label="Tipo de mascota" prop="pets">
                                <el-select style="width: 100%" v-model="form.pets"
                                           placeholder="Tipo de mascota">
                                    <el-option
                                        v-for="item in pets"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>

                    </el-row>

                    <div style="text-align: center">
                        <el-upload
                            class="avatar-uploader"
                            action="/api/dog/upload-image"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">

                            <img v-if="form.imageUrl" :src="form.imageUrl" class="avatar">

                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </div>

                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-card>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout,
        },
        data() {
            return {
                baseUrl: '/dogs',
                dog: [],
                pets: [],
                loading: false,
                form: {
                    name: '',
                    age: '',
                    description: '',
                    pets: [],
                    image: '',
                    imageUrl: '',
                },
                rules: {
                    name: {required: true, message: 'El nombre del producto es requerido.'},
                    description: {required: true, message: 'La descripcion del producto es requerido.'},
                    pets: {required: true, message: 'La categoria del producto es requerido.'},

                },
            }
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.form.image = file.raw;
                this.form.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG && isLt2M;
            },
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        let data = new FormData();
                        data.append('name', this.form.name);
                        data.append('age', this.form.age);
                        data.append('description', this.form.description);
                        data.append('image', this.form.image);

                        for (var i = 0; i < this.form.pets.length; i++) {
                            data.append('pets[]', this.form.pets[i]);
                        }

                        this.loading = true;

                        this.$inertia.post(this.baseUrl, data)
                            .then(
                                () => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Creado correctamente.'
                                    });
                                    this.loading = false;
                                })
                    }
                });
            },
        },
        mounted() {
            if (this.$page.dog) {
                this.dog = this.$page.dog;
            }
            if (this.$page.pets) {
                this.pets = this.$page.pets;
            }

        }
    }
</script>
