body, html {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

html, body, #app, .main-layout {
    height: 100%;
    font-family: "Arial";
}

body {
    background-color: white;
}

.icon-dog {
    color: #EDE7F6 !important;
}

.container {
    margin: 2% auto 0 auto;
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
}

//principal page
.p-title {
    font-family: Dolce-Vita !important;
    font-size: 50px;
    color: black !important;
    display: inline-block;
    text-align: center !important;
    vertical-align: middle;
    line-height: normal;

}


//Login
.login-back {
    background: $gray-1;
    width: 100%;
    height: 100%;
}

.login-header {
    text-align: center !important;
    background-color: $gray-7 !important;
    height: 115px !important;

}

.login {
    border-radius: 2px;
    padding: 10px;
    position: absolute;
    width: auto;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.header-right {
    position: absolute !important;
    top: 0;
    right: 0;
    height: 60px;
    width: auto;
    font-size: 20px;


}

.login_form_items {
    padding-left: 30px;
    padding-right: 30px;
    width: 350px;
}

.title {
    font-size: 150px;
    color: $purple;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.login-icon {
    color: $gray-4;
}

//Layout
.img-dash {
    width: 53px;
    margin-left: 3%;
}

.el-header {
    background-color: $gray-7;
    height: 12%;
    z-index: 1;
    top: 0;
    left: 0;
    z-index: 1;
}

.logout {
    margin-top: 10px !important;
    border: none !important;
    background: transparent !important;
    color: $purple !important;
    size: 40px !important;
}

.logout:hover {
    background: $purple !important;
    color: white !important;
}

.logout:focus {
    color: white !important;
}

.el-menu-login {
    background: $gray-1 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px !important;
}

//dropdown
.el-select-dropdown__item.selected {
    color: lighten($purple, 30) !important;
}

.el-dropdown-menu__item:focus, .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: lighten($purple, 50) !important;
    color: lighten($purple, 10) !important;
}

.el-menu-item{
    background-color: #f5f7fa;
    color: lighten($purple, 10) !important;

    &:hover {
        background-color: lighten($purple, 10);
        border-color: lighten($purple, 10);
        color: white;
    }


}

.el-menu-item:hover{
    background-color: #f5f7fa;
    color: lighten($purple, 10) !important;

    &:hover {
        background-color: lighten($purple, 10);
        border-color: lighten($purple, 10);
        color: white;
    }
}





.menu-icon {
    width: 25%;
}



.el-aside {
    width: 200px !important;
    height: 100% !important;
}

.menu-label {
    padding-right: 10%;
    padding-left: 10%;
    vertical-align: center;
}

//input
.el-input__inner:focus {
    border-color: $purple !important;

}
.el-textarea__inner:focus {
    border-color: $purple !important;
}

// Buttons
.el-button {

    &:hover {
        background-color: lighten($purple, 10);
        border-color: lighten($purple, 10);
        color: white;
    }


    &.el-button--warning {
        background-color: $warning !important;
        border-color: $warning !important;
        color: white !important;

        &:hover {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }

        &:focus {
            background-color: lighten($warning, 10) !important;
            border-color: lighten($warning, 10) !important;
            color: white !important;
        }
    }

    &.el-button--primary {
        background: $purple;
        border-color: $purple;
        color: white;

        &:hover {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }

        &:focus {
            background-color: lighten($purple, 10);
            border-color: lighten($purple, 10);
            color: white;
        }
    }

    &.el-button--info {
        background: $gray_4;
        border-color: $gray_4;
        color: white;

        &:hover {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($gray_4, 5);
            border-color: lighten($gray_4, 5);
            color: white;
        }
    }
    &.el-button--danger {
        background: $error;
        border-color: $error;
        color: white;

        &:hover {
            background-color: lighten($error, 5);
            border-color: lighten($error, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($error, 5);
            border-color: lighten($error, 5);
            color: white;
        }
    }
    &.el-button--success {
        background: $succes;
        border-color: $succes;
        color: white;

        &:hover {
            background-color: lighten($succes, 5);
            border-color: lighten($succes, 5);
            color: white;
        }

        &:focus {
            background-color: lighten($succes, 5);
            border-color: lighten($succes, 5);
            color: white;
        }
    }
}
//el-upload
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: $purple !important;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px !important;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}

//flex-container
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: row;
    align-content: space-around;
}

.grid-item {
    padding: 5px;
    width: 23%;
}
@media(max-width: 1263px) {
    .grid-item {
        width: 25%;
    }
}
@media(max-width: 959px) {
    .grid-item {
        width: auto;
        max-width: 25%;
        flex-grow: 1;
        min-width: 200px;
    }
}
@media(max-width: 840px) {
    .grid-item {
        max-width: 33.33%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 50%;
    }
}

@media(max-width: 640px) {
    .grid-item {
        max-width: 100%;
    }
}

