<template>

    <layout2 style="background-image: url('https://image.freepik.com/vector-gratis/perro-pata-patrones-fisuras-vector-aislado-cachorro-fondo-pantalla_71328-14.jpg')">
        <div>

            <el-card style="text-align: center; width: 70%; margin-left: 15%">
                <h1 style=" text-align: center; "><strong>Gatos Disponibles</strong></h1>

                <el-divider></el-divider>

                <div class="grid-container">
                    <div class="grid-item" v-for="(c, index) in cats" :key="index">
                        <cat-component :cat="c"></cat-component>
                    </div>
                </div>
            </el-card>

        </div>
    </layout2>


</template>
<script>

    import CatComponent from "../../components/CatComponent";
    import Layout2 from "../../Shared/Layout2";

    export default {
        components:{
            Layout2,
            CatComponent
        },
        data(){
            return {
                cats: [],
            }
        },
        mounted() {
            if (this.$page.cats) {
                this.cats = this.$page.cats;
            }
        }
    }

</script>
