<template>

    <layout2 style="background-image: url('https://image.freepik.com/vector-gratis/perro-pata-patrones-fisuras-vector-aislado-cachorro-fondo-pantalla_71328-14.jpg')">

        <div>

            <el-card style="text-align: center; margin-top: 50px; background-color: #e6e9ed">
                <h1><strong><i class="fas fa-paw"></i> Acerca de nosotros <i class="fas fa-paw"></i></strong></h1>

                <el-divider></el-divider>

                <p>En nuestro refugio contamos con más de 100 animales, los cuales han sido rescatados de la calle. </p>
                <p>Una vez rescatamos a los animalitos, ya sea perros o gatos, son llevados a un veterinario para que se chequee su salud y procedemos a ayudarle en su recuperación. Una
                vez esta estapa finaliza, procedemos a buscarle un hogar y una familia donde pueda recibir el amor que toda mascota merece. </p>


            </el-card>

            <div class="demo-image__placeholder">
                <div class="block">
                    <span class="demonstration"></span>
                    <el-image :src="src"></el-image>
                </div>

            </div>



        </div>

    </layout2>


</template>
<script>
    import Layout2 from "../../Shared/Layout2";
    export default {
        components: {Layout2},
        data(){
            return{
                src: 'https://www.mascotahogar.com/Imagenes/fondo-divertido-de-perros.jpg',

            }
        },
        methods: {

        },
    }
</script>
