<template>
    <div>

        <el-card style="background-color: #EDE7F6" :body-style="{ padding: '0px'}" >
            <el-image v-if="dog.image" :src="dog.image" fit="scale-down"></el-image>

            <div v-else style="text-align: center">
                <i style="margin-top: 20px" class="fas fa-image fa-5x"></i>

                <el-divider></el-divider>
            </div>

            <div style="padding: 14px;">
                <el-row :gutter="5">
                    <el-col :span="8">
                        <span><strong>{{dog.name}}</strong></span>
                    </el-col>

                    <el-col :span="8">
                        <span><strong>{{dog.age}}</strong></span>
                    </el-col>

                </el-row>

                <el-divider></el-divider>

                <p>{{dog.description}}</p>

                <el-divider></el-divider>

            </div>

        </el-card>
    </div>
</template>
<script>
    export default {
        name: 'dog',
        props: {
            dog: Object
        }
    }
</script>
