<template>
    <Layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Gatos</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <inertia-link :href="'/cats/create'">
                        <el-button type="primary">Nuevo</el-button>
                    </inertia-link>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="cats"
                style="width: 100%">
                <el-table-column
                    label="Imagen">
                    <template slot-scope="scope">
                        <span v-if="scope.row.image">
                            <img width="120" height="80" :src="scope.row.image"/>
                        </span>
                        <span v-else>
                            <i style="margin-left: 40px" class="fas fa-image fa-3x"></i>
                        </span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="name"
                    label="Nombre">
                </el-table-column>
                <el-table-column
                    prop="age"
                    label="Edad">
                </el-table-column>
                <el-table-column
                    prop="description"
                    label="Descripcion">
                </el-table-column>
                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">
                        <inertia-link style="margin-right: 10px" :href="'/cats/' + scope.row.id + '/edit'">
                            <el-button icon="fas fa-pencil-alt" type="warning" size="mini"></el-button>
                        </inertia-link>

                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

        </div>
    </Layout>

</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },
        data(){
            return {
                baseUrl: '/cats',
                cats: [],
                pets: [],
                loading: false,
                form: {
                    name: '',
                    age: '',
                    description: '',
                    pets: [],
                    image: '',
                    imageUrl: '',


                },
                rules: {
                    name: {required: true, message: 'El nombre del producto es requerido.'},
                    age: {required: true, message: 'El nombre del producto es requerido.'},
                    description: {required: true, message: 'La descripcion del producto es requerido.'},
                    pets: {required: true, message: 'La categoria del producto es requerido.'},

                },

            }
        },
        methods: {
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a este Producto?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },

        },
        mounted() {
            if (this.$page.cats) {
                this.cats = this.$page.cats;
            }
        }
    }
</script>
