<template>
    <Layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Tipos de Mascotas</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <el-button @click="create" type="primary">Nueva</el-button>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="pets"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="Tipo">
                </el-table-column>
                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">
                        <el-button icon="fas fa-pencil-alt" type="warning" size="mini"
                                   @click="edit(scope.row)"></el-button>
                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                <el-form :model="form" ref="form" :rules="rules">
                    <el-form-item label="Tipo de mascota" prop="name">
                        <el-input placeholder="Tipo de mascota" v-model="form.name"></el-input>
                    </el-form-item>

                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-dialog>

        </div>
    </Layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },
        data() {
            return {
                baseUrl: '/pets',
                pets: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                form: {
                    name: ''
                },
                rules: {
                    name: {required: true, message: 'El nombre de la categoria es requerido.'}
                },

            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            clearForm() {
                this.$refs.form.resetFields();
            },
            create() {
                this.mode = 'Nuevo tipo de mascota';
                this.dialogVisible = true;
            },
            edit(item) {
                this.mode = 'Editar Mascota';
                this.form = _.cloneDeep(item);
                this.dialogVisible = true;
            },
            submit() {
                this.$refs.form.validate(() => {
                    this.loading = true;
                    if (!this.form.id) {
                        this.$inertia.post(this.baseUrl, {
                            name: this.form.name
                        }).then(
                            () => {
                                this.pets = this.$page.pets;
                                this.$message({
                                    type: 'success',
                                    message: 'Creado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    } else {
                        this.$inertia.put(this.baseUrl + '/' + this.form.id, {
                            name: this.form.name
                        }).then(
                            () => {
                                this.pets = this.$page.pets;
                                this.$message({
                                    type: 'success',
                                    message: 'Guardado correctamente.'
                                });
                                this.loading = false;
                                this.dialogVisible = false;
                            })
                    }
                });
            },
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a esta categoria?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },

        },
        mounted() {
            if (this.$page.pets) {
                this.pets = this.$page.pets;
            }
        }
    }
</script>
