<template>
    <el-container class="main-layout">
        <el-header>

            <inertia-link href="/">
                <span style="text-align: left !important;" class="p-title">CanHijos <span class="icon-dog"><i style=": #EDE7F6" class="fas fa-dog"></i></span></span>
            </inertia-link>


            <el-row class="fa-pull-right">

                <el-dropdown trigger="click">
                    <el-button class="logout"
                               icon="el-icon-arrow-down">
                        {{$page.prop.auth.user.username}}
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <a href="/logout">
                            <el-dropdown-item>Salir</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-row>
        </el-header>
        <el-header style="height:20px; background-color: #EBDEF0"></el-header>
        <el-header style="height:20px; background-color: #EDE7F6"></el-header>



        <el-menu mode="horizontal" background-color="#f5f7fa" text-color="black" active-text-color="black">
            <el-menu-item index="1" ><a href="/dogs"><strong>Perros</strong></a></el-menu-item>
            <el-menu-item index="2" ><a href="/cats"><strong>Gatos</strong></a></el-menu-item>
            <el-menu-item index="3" ><a href="/pets"><strong>Tipo de mascotas</strong></a></el-menu-item>
        </el-menu>

        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>

</template>
<script>

    export default {
        name: 'layout',
        data() {
            return {
                menuItems: [],
            }
        },
        methods: { },
        mounted() {
            if (this.$page.auth && this.$page.auth.user) {
                console.log(this.$page.auth);
            }
        }
    }
</script>
