<template>
    <el-container class="main-layout">
        <el-header class="login-header">
            <span style="margin-top: 30px" class="p-title">CanHijos <span class="icon-dog"><i style=": #EDE7F6" class="fas fa-dog"></i></span></span>

            <el-row style="margin-top: 30px"class="fa-pull-right">
                <el-dropdown trigger="click">
                    <el-button style="size: A3"  class="logout"
                               icon="el-icon-back">

                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <a href="/login">
                            <el-dropdown-item>Back</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-row>
        </el-header>
        <el-header style="height:20px; background-color: #EBDEF0"></el-header>
        <el-header style="height:20px; background-color: #EDE7F6"></el-header>


        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>

</template>
<script>

    export default {
        name: 'layout2',
        data() {
            return {
                menuItems: [],
            }
        },
        methods: { },

    }
</script>
