<template>

    <Layout>
        <div>
            <h1>Perros</h1>

            <div class="grid-container">
                <div class="grid-item"  v-for="(d, index) in dogs" :key="index">
                    <dog-component :dog="d"></dog-component>
                </div>
            </div>

            <el-divider></el-divider>

            <h1>Gatos</h1>

            <div class="grid-container">
                <div class="grid-item" v-for="(c, index) in cats" :key="index">
                    <cat-component :cat="c"></cat-component>
                </div>
            </div>



        </div>
    </Layout>

</template>
<script>

    import Layout from "../../Shared/Layout";
    import DogComponent from "../../components/DogComponent";
    import CatComponent from "../../components/CatComponent";

    export default {
        components: {
            Layout,
            DogComponent,
            CatComponent
        },
        data(){
            return {
                dogs: [],
                cats: [],

            }
        },
        mounted() {
            if (this.$page.dogs) {
                this.dogs = this.$page.dogs
            }
            if (this.$page.cats) {
                this.cats = this.$page.cats
            }
        }
    }
</script>
