<template>
    <div >
        <el-header class="login-header">
            <el-row>
                <div class="demo-image__placeholder">
                    <div class="block">
                        <span class="demonstration"></span>
                        <el-image fit="scale-dow" :src="url"></el-image>
                    </div>

                </div>

                <span class="header-right">
                    <el-link :underline="false" style="color: black; margin-top: 60px; font-weight: bold" @click="loginDialogVisible= true" >Login</el-link>
                </span>
            </el-row>

        </el-header>

        <el-header style="height:30px; background-color: #EDE7F6"></el-header>



        <el-menu style="font-size: 30px; height: 56px" mode="horizontal" background-color="#f5f7fa" text-color="black" active-text-color="black">
            <el-menu-item index="1" ><a href="/about"><strong>Conoce acerca de nosotros</strong></a></el-menu-item>
            <el-menu-item index="2" ><a href="/contact"><strong>Contacto</strong></a></el-menu-item>
            <el-dropdown index="3" trigger="click">
                <el-button style="background-color: #f5f7fa" class="el-menu-item" icon="el-icon-arrow-down"><strong>Mascotas disponibles</strong></el-button>
                <el-dropdown-menu slot="dropdown">
                    <a href="/dogy">
                        <el-dropdown-item><strong>Perros</strong></el-dropdown-item>
                    </a>
                    <a href="/caty">
                        <el-dropdown-item><strong>Gatos</strong></el-dropdown-item>
                    </a>

                </el-dropdown-menu>


            </el-dropdown>
        </el-menu>



        <el-dialog title="Login" :visible.sync="loginDialogVisible">

            <el-form :model="log_form" ref="log_form" :rules="log_rules">
                <el-form-item label="Usuario" prop="username">
                    <el-input v-model="log_form.username" placeholder="Usuario"></el-input>
                </el-form-item>

                <el-form-item label="Contraseña" prop="password">
                    <el-input v-model="log_form.password" type="password" show-password placeholder="Contraseña"></el-input>
                </el-form-item>

                <div v-if="$page.prop.errors">
                    <div v-for="error in $page.prop.errors">
                        <el-alert style="margin-bottom: 5px" v-for="(er, index) in error" :key="index" type="error" :title="er" :closable="false"></el-alert>
                    </div>
                </div>

                <div style="text-align: center">
                    <el-button type="primary" @click="login()">Entrar</el-button>
                </div>
            </el-form>
        </el-dialog>




        <div class="demo-image__placeholder">
            <div class="block">
                <span class="demonstration"></span>
                <el-image :src="src"></el-image>
            </div>

        </div>


    </div>
</template>
<script>
    export default {
        data() {
            return {
                url: 'https://pbs.twimg.com/media/EengpTDWsAgOHS0?format=jpg&name=small',
                fits: ['scale-down'],
                src: 'https://s1.1zoom.me/b5050/691/Dogs_Cats_White_background_Puppy_562998_2560x1440.jpg',
                loginDialogVisible: false,
                log_form: {
                    username: '',
                    password: ''
                },
                log_rules: {
                    username: {required: true, message:'Su suario es requerido'},
                    password:{required: true, message:'Su contraseña es requerida'}
                },
                registerDialogVisible: false,
                reg_form: {
                    name: '',
                    username: '',
                    password: '',
                    password_confirmation: ''

                },
                reg_rules: {
                    name: {required: true, message:'Su nombre es requerido'},
                    username: {required: true, message:'Su suario es requerido'},
                    password:{required: true, message:'Su contraseña es requerida'}
                },
                menuItems: []


            }



        },
        methods: {
            login() {
                this.$refs.log_form.validate(() => {
                    this.$inertia.post('/login', {
                        username:this.log_form.username,
                        password:this.log_form.password
                    });
                });
            },
            register(){
                this.$refs.reg_form.validate(() => {
                    this.$inertia.post('/register', {
                        name:this.reg_form.name,
                        username:this.reg_form.username,
                        password:this.reg_form.password,
                        password_confirmation:this.reg_form.password_confirmation
                    });
                });
            }

        },
    }
</script>
